{% if settings.cart_delivery_calendar_show %}
  <details class="ks-cart-delivery-calendar">
    <summary onclick="ksCartDrawerFixScrollPosition(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="ks-svg-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      <span class="summary__title">
        {{ 'kondasoft.cart.delivery_calendar.title' | t }}
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div class="details-inner">
      <ks-cart-delivery-calendar
        data-vendor-css-file="{{ 'ks-vendor-vanilla-calendar.min.css' | asset_url }}"
        data-vendor-js-file="{{ 'ks-vendor-vanilla-calendar.min.js' | asset_url }}">
        <div class="ks-cart-delivery-calendar-div"></div>
        <p 
          class="ks-alert ks-alert-info"
          data-text-init="{{ 'kondasoft.cart.delivery_calendar.initial_text' | t }}"
          data-text-delivery-date="{{ 'kondasoft.cart.delivery_calendar.delivery_date' | t }}">
          {{ 'kondasoft.cart.delivery_calendar.initial_text' | t }}
        </p>
      </ks-cart-delivery-calendar>
    </div>
  </details>
{% endif %}