{%- if settings.show_cart_note -%}
  <details class="ks-cart-note">
    <summary onclick="ksCartDrawerFixScrollPosition(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="ks-svg-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
      </svg>
      <span class="summary__title">
        {{ 'sections.cart.note' | t }}
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div class="details-inner">
      <cart-note class="cart__note field">
        <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
        <textarea
          id="CartDrawer-Note"
          class="text-area text-area--resize-vertical field__input"
          name="note"
          placeholder="{{ 'sections.cart.note' | t }}"
        >{{ cart.note }}</textarea>
      </cart-note>
    </div>
  </details>
{% endif %}
