{% unless settings.cart_upsells_collection == nil %}
  {% liquid 
    assign upsells_handles = ''
  
    for product in settings.cart_upsells_collection.products
      assign is_in_cart = false
      for line_item in cart.items
        if line_item.product.id == product.id
          assign is_in_cart = true
        endif
      endfor
      unless is_in_cart
        assign upsells_handles = upsells_handles | append: product.handle | append: ','
      endunless
    endfor
    
    assign upsells_handles = upsells_handles | split: ','

    assign count_upsells = upsells_handles.size
    if count_upsells > settings.cart_upsells_limit
      assign count_upsells = settings.cart_upsells_limit
    endif
  %}

  {% unless upsells_handles == empty %}
    <details class="ks-cart-upsells" open>
      <summary onclick="ksCartDrawerFixScrollPosition(this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="ks-svg-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
        </svg>
        <span class="summary__title">
          {{ settings.cart_upsells_heading }}
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </summary>
      <ks-cart-upsells class="details-inner">
        <slider-component class="slider-mobile-gutter slider-component-desktop ks-slider-component-full">
          <ul
            id="Slider-ks-cart-upsells"
            data-id="{{ section.id }}"
            class="grid grid--1-col slider slider--tablet slider--desktop"
            role="list"
            aria-label="{{ 'general.slider.name' | t }}">
            {% for handle in upsells_handles limit: settings.cart_upsells_limit %}
              {% assign product = all_products[handle] %}
              <li
                id="Slide-ks-cart-upsells-{{ forloop.index }}"
                class="grid__item slider__slide">
                <div class="ks-cart-upsell-item">
                  <div class="ks-cart-upsell-item-image">
                    <a href="{{ product.url }}" tabindex="-1"> 
                      <img 
                        src="{{ product.featured_image | image_url: width: 300 }}"
                        class="img-fluid d-block" 
                        alt="{{ product.featured_image.alt | escape }}" 
                        width="150" 
                        height="{{ 150 | divided_by: product.featured_image.aspect_ratio | ceil }}" 
                        loading="lazy">
                    </a>
                  </div>
                  <div class="ks-cart-upsell-item-details">
                    <a href="{{ product.url }}" class="cart-item__name h4 break">
                      {{ product.title }}
                    </a>
                    {% if product.has_only_default_variant %}
                      {% render 'price', product: product %}
                    {% endif %}
                    <product-form data-section-id="{{ section.id }}">
                      {%- form 'product',
                        product,
                        class: 'form',
                        novalidate: 'novalidate',
                        data-type: 'add-to-cart-form'
                      -%}
                        {% if product.has_only_default_variant %}
                          <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                        {% else %}
                          <div class="field-wrapper">
                            <div class="select">
                              <select 
                                id="ks-cart-drawer-upsell-selector-{{ forloop.index }}"
                                name="id"
                                class="select__select"
                                aria-label="Select variant">
                                {% for variant in product.variants %}
                                  <option 
                                    value="{{ variant.id }}"
                                    data-variant-img="{% if variant.image %}{{ variant.image | image_url: width: 300 }}{% endif %}"
                                    {% if variant.available == false %}disabled{% endif %}>
                                    {{ variant.title }} -
                                    {% if variant.available == false %}
                                      {{ 'products.product.sold_out' | t }}
                                    {% else %}
                                      {{ variant.price | money }} 
                                    {% endif %}
                                  </option>
                                {% endfor %}
                              </select>
                              <span class="svg-wrapper">
                                {{- 'icon-caret.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </div>
                        {% endif %}
                        <button 
                          type="submit" 
                          name="add" 
                          class="button button--full-width {{ settings.cart_upsells_btn_style }}">
                          <span>{{ 'products.product.add_to_cart' | t}}</span>
                          {%- render 'loading-spinner' -%}
                        </button>
                      {% endform %}
                    </product-form>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
          <div class="slider-buttons">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}">
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total"></span>
              <span class="slider-counter--total-fixed">{{ count_upsells }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}">
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>
        </slider-component>
      </ks-cart-upsells>
    </details>
  {% endunless %}
{% endunless %}
