{% liquid 
  assign metafield_namespace = block.settings.metafield | split: '.' | first
  assign metafield_key = block.settings.metafield | split: '.' | last
  assign metafield_value = product.metafields[metafield_namespace][metafield_key].value

  assign product_handles = product.handle |  append: ','
  assign total_price = 0
  assign total_compare_price = 0

  for product in metafield_value
    assign product_handles = product_handles | append: product.handle
    unless forloop.last
      assign product_handles = product_handles |  append: ','
    endunless
  endfor

  assign product_handles = product_handles | split: ','
%}

{% if metafield_value.count > 0 %}
  <ks-cross-sells 
    id="ks-product-cross-sells-{{ section.id }}"
    class="ks-product-cross-sells color-{{ block.settings.color_scheme }}"
    {{ block.shopify_attributes }}>
    <div class="ks-product-cross-sells-header">
      {% unless block.settings.title == blank %}
        <h2 class="title {{ block.settings.title_font_size }} {{ block.settings.title_text_style }}">
          {{ block.settings.title }}
        </h2>
      {% endunless %}
      {% unless block.settings.description == blank %}
        <div class="description rte {{ block.settings.description_font_size }}">
          {{ block.settings.description }}
        </div>
      {% endunless %}
    </div>
    <div class="ks-product-cross-sells-inner">
      <div 
        class="ks-product-cross-sells-list" 
        role="list">
        {% for handle in product_handles %}
          {% liquid
            assign product = all_products[handle] 
            assign total_price = total_price | plus: product.first_available_variant.price
            assign total_compare_price = total_compare_price | plus: product.first_available_variant.compare_at_price
          %}
          <div 
            class="ks-product-cross-sells-item" 
            data-cross-sells-list-item
            data-is-selected="true"
            role="listitem">
            <a href="{{ product.url }}">
              <div class="img-wrapper">
                {% render 'ks-image-url', img: product.featured_image, ratio: block.settings.img_ratio, class: 'd-block' %}
              </div>
            </a>
            <div class="">
              <h3 class="title h5 underline-links-hover">
                <a href="{{ product.url }}" class="full-unstyled-link" tabindex="-1">
                  {{ product.title }}
                </a>
              </h3>
              {% render 'ks-rating-stars', product: product %}
              {% if product.has_only_default_variant %}
                {% render 'price', product: product %}
                <input 
                  type="hidden" 
                  name="variant-id" 
                  value="{{ product.first_available_variant.id }}"
                  data-price="{{ product.first_available_variant.price }}"
                  data-compare-at-price="{{ product.first_available_variant.compare_at_price }}">
              {% else %}
                <div class="select">
                  <select 
                    class="select__select"
                    name="variant-id" 
                    aria-label="{{ 'kondasoft.cross_sells.select_variant' | t }}">
                    {% unless product.available %}
                      <option>
                        {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endunless %}
                    {% for variant in product.variants %}
                      <option 
                        value="{{ variant.id }}" 
                        data-price="{{ variant.price }}"
                        data-compare-at-price="{{ variant.compare_at_price }}"
                        data-variant-image="{%- if variant.image -%}{%- render 'ks-image-url', img: variant.image, ratio: block.settings.img_ratio, only_src: true -%}{%- endif -%}"
                        {% unless variant.available %}disabled{% endunless %}>
                        {{ variant.title }} - {{ variant.price | money_without_trailing_zeros }}
                      </option>
                    {% endfor %}
                  </select>
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </div>
              {% endif %}
              <div class="bs-form-check fs-sm">
                <input 
                  id="cross-sells-selector-{{ product.id }}"
                  class="bs-form-check-input" 
                  type="checkbox" 
                  value="{{ product.first_available_variant.id }}"
                  {% unless product.available %}disabled{% endunless %}
                  {% if product.available %}checked{% endif %}>
                <label class="form-check-label" for="cross-sells-selector-{{ product.id }}">
                  {% if product.available == false %}
                    {{ 'kondasoft.cross_sells.sold_out' | t }}
                  {% elsif forloop.first %}
                    {{ 'kondasoft.cross_sells.current_product' | t }}
                  {% else %}
                    {{ 'kondasoft.cross_sells.select_this' | t }}
                  {% endif %}
                </label>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="ks-product-cross-sells-footer" data-cross-sells-footer>
        <p class="ks-product-cross-sells-total-price fs-md" role="alert" aria-atomic="true">
          {{ 'kondasoft.cross_sells.total_price' | t }}:
          <s class="" {% if total_compare_price <= total_price %}hidden{% endif %}>
            <span class="visually-hidden">
              {{ 'products.product.price.regular_price' | t }} 
            </span>
            <span data-total-compare-price>
              {{ total_compare_price | money_without_trailing_zeros }}
            </span>
          </s>
          <b data-total-price>
            {{ total_price | money_without_trailing_zeros }}
          </b>
        </p>
        <p class="ks-product-cross-sells-total-savings fs-sm" {% if total_compare_price <= total_price %}hidden{% endif %}>
          {{ 'kondasoft.cross_sells.total_savings' | t }}:
          <span data-total-savings>
            {{ total_compare_price | minus: total_price | money_without_trailing_zeros }}
          </span>
        </p>
        <button 
          class="button {{ block.settings.btn_style }}"
          {% if total_price == 0 %}disabled{% endif %}>
          <span>{{ 'kondasoft.cross_sells.add_selected_to_cart' | t }}</span>
          {%- render 'loading-spinner' -%}
        </button>
      </div>
    </div>
  </ks-cross-sells>
{% endif %}