{% liquid 
  assign current_variant = product.selected_or_first_available_variant
  assign current_img = current_variant.image | default: product.featured_image
%}

<ks-sticky-atc 
  id="ks-sticky-atc-{{ block.id }}"
  class="ks-sticky-atc color-{{ block.settings.color_scheme }}"
  style="
    --border-top-opacity: {{ block.settings.border_top_opacity | append: '%' }};
  "
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
  {{ block.shopify_attributes }}>
  <div 
    class="page-width" 
    style="{{ block.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}">
    <div class="ks-sticky-atc-inner">
      <div class="ks-sticky-atc-left">
        {% render 'ks-image-url', img: current_img, ratio: block.settings.img_ratio, class: 'ks-sticky-atc-img' %}
        <div class="">
          <h3 class="title h5">
            {{ product.title }}
          </h3>
          {% render 'ks-rating-stars', product: product %}
          {% if product.has_only_default_variant %}
            {% render 'price', product: product, use_variant: true, show_compare_at_price: false  %}
          {% endif %}
        </div>
      </div>
      <div class="ks-sticky-atc-right">
        <product-form data-section-id="{{ section.id }}">
          {%- form 'product',
            product,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form'
          -%}
            {% if product.has_only_default_variant %}
              <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
            {% else %}
              <div class="field-wrapper">
                <div class="select">
                  <select
                    name="id"
                    class="select__select"
                    aria-label="Select variant">
                    {% for variant in product.variants %}
                      <option 
                        value="{{ variant.id }}"
                        data-variant-img="{% if variant.image %}{{ variant.image | image_url: width: 300 }}{% endif %}"
                        {% if variant.id == current_variant.id %}selected{% endif %}
                        {% if variant.available == false %}disabled{% endif %}>
                        {{ variant.title }} -
                        {% if variant.available == false %}
                          {{ 'products.product.sold_out' | t }}
                        {% else %}
                          {{ variant.price | money }} 
                        {% endif %}
                      </option>
                    {% endfor %}
                  </select>
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </div>
              </div>
            {% endif %}
            <button 
              type="submit" 
              name="add" 
              class="button button--full-width {{ block.settings.btn_style }}">
              <span>{{ 'products.product.add_to_cart' | t}}</span>
              {%- render 'loading-spinner' -%}
            </button>
          {% endform %}
        </product-form>
      </div>
    </div>
  </div>
</ks-sticky-atc>