{% if collection.previous_product or collection.next_product %}
  <ks-product-prev-next class="ks-product-block-prev-next" {{ block.shopify_attributes }}>
    <h2 class="h6 title">
      {{ block.settings.title }}
    </h2>
    <div class="ks-product-block-prev-next-inner">
      {% if collection.previous_product %}
        <a 
          class="ks-product-block-prev-next--prev"
          href="{{ collection.previous_product.url }}">
          {% render 'ks-image-url', img: collection.previous_product.featured_image, ratio: block.settings.img_ratio, class: 'img-thumbnail'  %}
          <span class="visually-hidden">
            {{ 'kondasoft.product.prev_product' }}
          </span>
          <div class='icon-wrapper'>
            {% render 'ks-svg-icons', icon: 'arrow-left', size: 16 %}
          </div>
        </a>
        <div class="ks-tooltip" role="tooltip">
          {{ collection.previous_product.title }} - {{ collection.previous_product.price | money }}
        </div>
      {% endif %}
    </div>
    <div class="ks-product-block-prev-next-inner">
      {% if collection.next_product %}
        <a 
          class="ks-product-block-prev-next--next"
          href="{{ collection.next_product.url }}">
          {% render 'ks-image-url', img: collection.next_product.featured_image, ratio: block.settings.img_ratio, class: 'img-thumbnail'  %}
          <span class="visually-hidden">
            {{ 'kondasoft.product.next_product' }}
          </span>
          <div class='icon-wrapper'>
            {% render 'ks-svg-icons', icon: 'arrow-right', size: 16 %}
          </div>
        </a>
        <div class="ks-tooltip" role="tooltip">
          {{ collection.next_product.title }} - {{ collection.next_product.price | money }}
        </div>
      {% endif %}
    </div>
  </ks-product-prev-next>
{% endif %}
