{% if settings.ks_recently_viewed %}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  <style>
    .drawer {
      visibility: hidden;
    }
  </style>
  <ks-recently-viewed-drawer class="drawer ks-drawer">
    <div class="ks-recently-viewed-drawer">
      <div class="drawer__overlay"></div>
      <ks-recently-viewed-container
        class="ks-recently-viewed-container"
        data-img-ratio="ratio-1x1"
      >
        <div
          class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'kondasoft.recently_viewed.title' | t }}"
          tabindex="-1"
        >
          <div class="drawer__inner-empty ks-recently-viewed-empty" hidden>
            <div class="drawer__empty-content">
              <h2 class="title">
                {{ 'kondasoft.recently_viewed.empty' | t }}
              </h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('ks-recently-viewed-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>
            </div>
          </div>
          <div class="ks-recently-viewed-drawer-product-list-wrapper" hidden>
            <div class="drawer__header">
              <h2 class="drawer__heading">{{ 'kondasoft.recently_viewed.title' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('ks-recently-viewed-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
            <div class="ks-recently-viewed-drawer-product-list ks-grid-product-list" role="list">
              {% comment %} Injected dynamically {% endcomment %}
            </div>
            <button
              class="ks-recently-viewed-btm-remove-all button button--secondary button--full-width"
              type="button"
              onclick="this.closest('ks-recently-viewed-drawer').close()"
            >
              {{ 'kondasoft.recently_viewed.remove_all' | t }}
            </button>
          </div>
        </div>
      </ks-recently-viewed-container>
    </div>
  </ks-recently-viewed-drawer>
{% endif %}
