<div class="ks-section-content">
  {% unless section.settings.subtitle == blank %}
    <p class="subtitle {{ section.settings.subtitle_font_size }}">
      {{ section.settings.subtitle }}
    </p>
  {% endunless %}
  {% unless section.settings.title == blank %}
    <h2 class="title {{ section.settings.title_font_size }}">
      {{ section.settings.title }}

    </h2>
  {% endunless %}
  {% unless section.settings.description == blank %}
    <div class="description rte {{ section.settings.description_font_size }}">
      {{ section.settings.description }}
    </div>
  {% endunless %}
  {% if section.settings.btn_primary_text != blank or section.settings.btn_secondary_text != blank %}
    <div class="btn-wrapper">
      {% unless section.settings.btn_primary_text == blank %}
        <a 
          class="button {{ section.settings.btn_primary_style }}"  
          href="{{ section.settings.btn_primary_url }}">
          {{ section.settings.btn_primary_text }}
        </a>
      {% endunless %}
      {% unless section.settings.btn_secondary_text == blank %}
        <a 
          class="button {{ section.settings.btn_secondary_style }}"  
          href="{{ section.settings.btn_secondary_url }}">
          {{ section.settings.btn_secondary_text }}
        </a>
      {% endunless %}
    </div>
  {% endif %}
</div>