{% if settings.ks_wishlist %}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  <style>
    .drawer {
      visibility: hidden;
    }
  </style>
  <ks-wishlist-drawer class="drawer ks-drawer">
    <div class="ks-wishlist-drawer">
      <div class="drawer__overlay"></div>
      <ks-wishlist-container
        class="ks-wishlist-container"
        data-img-ratio="ratio-1x1"
      >
        <div
          class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
          role="dialog"
          aria-modal="true"
          aria-label="{{ 'kondasoft.wishlist.title' | t }}"
          tabindex="-1"
        >
          <div class="drawer__inner-empty ks-wishlist-empty" hidden>
            <div class="drawer__empty-content">
              <h2 class="title">
                {{ 'kondasoft.wishlist.empty' | t }}
              </h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('ks-wishlist-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>
            </div>
          </div>
          <div class="ks-wishlist-drawer-product-list-wrapper" hidden>
            <div class="drawer__header">
              <h2 class="drawer__heading">{{ 'kondasoft.wishlist.title' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('ks-wishlist-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
            </div>
            <div class="ks-wishlist-drawer-product-list ks-grid-product-list" role="list">
              {% comment %} Injected dynamically {% endcomment %}
            </div>
          </div>
        </div>
      </ks-wishlist-container>
    </div>
  </ks-wishlist-drawer>
{% endif %}
