{% liquid 
  assign total_price = 0
  assign total_compare_price = 0
%}

{%- style -%}
  #ks-cross-sells-{{ section.id }} {
    padding-top: {{ section.settings.pt | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.pb | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    #ks-cross-sells-{{ section.id }} {
      padding-top: {{ section.settings.pt }}px;
      padding-bottom: {{ section.settings.pb }}px;
    }
  }
{% endstyle %}

<ks-cross-sells 
  id="ks-cross-sells-{{ section.id }}"
  class="ks-cross-sells color-{{ section.settings.color_scheme }} gradient">

  <div 
    class="page-width"  
    style="max-width: {{ section.settings.page_width | append: 'px' }}">

    <div class="ks-section-header d-desktop-none">
      {%- unless section.settings.title == blank -%}
        <h2 
          class="
            title title-wrapper--no-top-margin inline-richtext 
            {{ section.settings.heading_size }}
            {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}
          ">
          {{ section.settings.title }}
        </h2>
      {%- endunless -%}
      {%- unless section.settings.description == blank -%}
        <div class="description rte {{ section.settings.description_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.description }}
        </div>
      {%- endunless -%}
    </div>

    <div class="ks-cross-sells-wrapper">
      <div class="ks-cross-sells-wrapper-left">
        <div
          class="ks-cross-sells-product-list" 
          aria-label="{{ section.settings.header_title | strip_html }}"
          role="list">
          {% for block in section.blocks %}
            {% assign product = block.settings.product %}
            {% if product and product.id %}
              {% liquid 
                assign total_price = total_price | plus: product.first_available_variant.price
                assign total_compare_price = total_compare_price | plus: product.first_available_variant.compare_at_price
              %}
              <div 
                class="ks-cross-sells-product-list-item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                data-is-selected="{% if product.available %}true{% else %}false{% endif %}"
                data-cross-sells-list-item
                role="listitem"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
                {{ block.shopify_attributes }}>
                <div class="ks-cross-sells-product-list-item-left">
                  <a href="{{ product.url }}">
                    <div class="img-wrapper">
                      {%- if product.compare_at_price > product.price and product.available -%}
                        <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
                          {{- 'products.product.on_sale' | t -}}
                        </span>
                      {%- endif -%}
                      {% render 'ks-image-url', img: product.featured_image, ratio: section.settings.product_card_img_ratio %}
                    </div>
                  </a>
                </div>
                <div class="ks-cross-sells-product-list-item-right">
                  <a href="{{ product.url }}" class="full-unstyled-link" tabindex="-1">
                    <h3 class="title h5 text-truncate-2-lines">
                      {{ product.title }}
                    </h3>
                    {% if product.has_only_default_variant %}
                      {% render 'price', product: product %}
                    {% endif %}
                  </a>
                  {% if product.has_only_default_variant %}
                    <input 
                      type="hidden" 
                      name="variant-id" 
                      value="{{ product.first_available_variant.id }}"
                      data-price="{{ product.first_available_variant.price }}"
                      data-compare-at-price="{{ product.first_available_variant.compare_at_price }}">
                  {% else %}
                    <div class="select">
                      <select 
                        class="select__select"
                        name="variant-id" 
                        aria-label="{{ 'kondasoft.cross_sells.select_variant' | t }}">
                        {% unless product.available %}
                          <option>
                            {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endunless %}
                        {% for variant in product.variants %}
                          <option 
                            value="{{ variant.id }}" 
                            data-price="{{ variant.price }}"
                            data-compare-at-price="{{ variant.compare_at_price }}"
                            data-variant-image="{%- if variant.image -%}{%- render 'ks-image-url', img: variant.image, ratio: settings.product_card_img_ratio, only_src: true -%}{%- endif -%}"
                            {% unless variant.available %}disabled{% endunless %}>
                            {{ variant.title }} - {{ variant.price | money_without_trailing_zeros }}
                          </option>
                        {% endfor %}
                      </select>
                      <span class="svg-wrapper" style="width: 3rem;">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                    </div>
                  {% endif %}
                  <div class="bs-form-check">
                    <input 
                      id="ks-cross-sells-selector-{{ product.id }}"
                      class="bs-form-check-input" 
                      type="checkbox" 
                      value="{{ product.first_available_variant.id }}"
                      {% unless product.available %}disabled{% endunless %}
                      {% if product.available %}checked{% endif %}>
                    <label class="form-check-label" for="ks-cross-sells-selector-{{ product.id }}">
                      {% if product.available == false %}
                        {{ 'kondasoft.cross_sells.sold_out' | t }}
                      {% else %}
                        {{ 'kondasoft.cross_sells.select_this' | t }}
                      {% endif %}
                    </label>
                  </div>
                </div>
              </div>
            {% else %}
              {% liquid 
                if forloop.index <= 6
                  assign img_placeholder = 'product-' | append: forloop.index
                else
                  assign img_placeholder = 'product-1'
                endif
              %}
              <div 
                class="ks-cross-sells-product-list-item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" 
                role="listitem">
                <div class="ks-cross-sells-product-list-item-left">
                  <div class="img-wrapper product-card-img-wrapper">
                    {{ img_placeholder | placeholder_svg_tag: 'svg-placeholder' }}
                  </div>
                </div>
                <div class="ks-cross-sells-product-list-item-right">
                  <h3 class="title h5 text-truncate-2-lines">
                    Product title {{ forloop.index }}
                  </h3>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="ks-cross-sells-wrapper-right {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}">
        <div class="ks-section-header d-none d-desktop-block">
          {%- unless section.settings.title == blank -%}
            <h2 
              class="
                title title-wrapper--no-top-margin inline-richtext 
                {{ section.settings.heading_size }}
              ">
              {{ section.settings.title }}
            </h2>
          {%- endunless -%}
          {%- unless section.settings.description == blank -%}
            <div class="description rte {{ section.settings.description_size }}">
              {{ section.settings.description }}
            </div>
          {%- endunless -%}
        </div>
        <div class="ks-cross-sells-footer" data-cross-sells-footer>
          <p class="ks-cross-sells-footer-total-price fs-lg" role="alert" aria-atomic="true">
            {{ 'kondasoft.cross_sells.total_price' | t }}:
            <s class="" {% if total_compare_price <= total_price %}hidden{% endif %}>
              <span class="visually-hidden">
                {{ 'products.product.price.regular_price' | t }} 
              </span>
              <span data-total-compare-price>
                {{ total_compare_price | money_without_trailing_zeros }}
              </span>
            </s>
            <b data-total-price>
              {{ total_price | money_without_trailing_zeros }}
            </b>
          </p>
          <p class="ks-cross-sells-footer-total-savings fs-lg" {% if total_compare_price <= total_price %}hidden{% endif %}>
            {{ 'kondasoft.cross_sells.total_savings' | t }}:
            <span data-total-savings>
              {{ total_compare_price | minus: total_price | money_without_trailing_zeros }}
            </span>
          </p>
          <button 
            class="button"
            {% if total_price == 0 %}disabled{% endif %}>
            <span>{{ 'kondasoft.cross_sells.add_selected_to_cart' | t }}</span>
            {%- render 'loading-spinner' -%}
          </button>
        </div>
      </div>
    </div>

  </div>
</ks-cross-sells>

{% schema %}
{
  "name": "KS - Cross sells",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "page_width",
      "label": "Page width (px)",
      "info": "Leave empty to use the global \"page-width\"."
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Frequently Bought Together",
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "h2", "label": "Small" },
        { "value": "h1", "label": "Medium" },
        { "value": "h0", "label": "Large" },
        { "value": "hxl", "label": "Extra large" },
        { "value": "hxxl", "label": "Extra extra large" }
      ],
      "default": "h1"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>An optional description for this section</p>",
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "Description size",
      "default": "fs-md",
      "options": [
        { "value": "fs-xs", "label": "xs" },
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" }
      ]
    },
    {
      "type": "header",
      "content": "Product card",
    },
    {
      "type": "select",
      "id": "product_card_img_ratio",
      "label": "Image ratio",
      "default": "ratio-1x1",
      "options": [
        { "group": "Adapt", "value": "adapt", "label": "Adapt" },
        { "group": "Square", "value": "ratio-1x1", "label": "1x1" },
        { "group": "Horizontal", "value": "ratio-4x3", "label": "4x3" },
        { "group": "Horizontal", "value": "ratio-16x9", "label": "16x9" },
        { "group": "Vertical", "value": "ratio-3x4", "label": "3x4" },
        { "group": "Vertical", "value": "ratio-9x16", "label": "9x16" },
      ]
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "KS - Cross sells",
      "blocks": [
        { "type": "product" },
        { "type": "product" },
        { "type": "product" },
        { "type": "product" }
      ]
    }
  ]
}
{% endschema %}