<header 
  id="ks-collection-banner-{{ section.id }}"
  class="ks-collection-banner">
  {% for block in section.blocks %}
    {% if block.type == 'mobile' %}
      <div 
        class="
          ks-collection-banner-mobile d-desktop-none
          color-{{ block.settings.color_scheme }} gradient
        "
        data-has-img="{% if block.settings.img_show and collection.image != nil %}true{% else %}false{% endif %}"
        style="
          padding-top: {{ block.settings.pt }}px;
          padding-bottom: {{ block.settings.pb }}px;
        "
        {{ block.shopify_attributes }}>
        {% if block.settings.img_show and collection.image != nil %}
          <div 
            class="img-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            style="
              --overlay-color-rgb: {{ block.settings.img_overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')'  }};
              --overlay-opacity: {{ block.settings.img_overlay_opacity | append: '%' }};
              --overlay-blur: {{ block.settings.img_overlay_blur | append: 'px' }}
            ">
            <img
              src="{{ collection.image | image_url: width: 800 }}"
              class="img-fluid"
              alt="{{ collection.image.alt }}"
              width="800"
              height="{{ 800 | divided_by: collection.image.aspect_ratio | round }}"
              loading="eager">
          </div>
        {% endif %}
        <div class="page-width">
          <div class="ks-collection-banner-content">
            <div 
              class="ks-breadcrumb-wrapper {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: 1;"
              {% endif %}>
              {% render 'ks-breadcrumb' %}
            </div>
            <h1 
              class="title {{ block.settings.title_font_size }} {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: 2;"
              {% endif %}>
              {{- collection.title | escape -}}
            </h1>
            {% if block.settings.description_show and collection.description != blank %}
              <div 
                class="description rte {{ block.settings.description_font_size }} {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: 3;"
                {% endif %}>
                {{ collection.description }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div 
        class="
          ks-collection-banner-desktop d-none d-desktop-block
          color-{{ block.settings.color_scheme }} gradient
        "
        data-has-img="{% if block.settings.img_show and collection.image != nil %}true{% else %}false{% endif %}"
        data-img-alignment="{% if block.settings.img_align == '' %}left{% else %}right{% endif %}"
        style="
          padding-top: {{ block.settings.pt }}px;
          padding-bottom: {{ block.settings.pb }}px;
        "
        {{ block.shopify_attributes }}>
        {% if block.settings.img_show and collection.image != nil %}
          <div 
            class="img-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            style="
              --overlay-color-rgb: {{ block.settings.img_overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')'  }};
              --overlay-opacity: {{ block.settings.img_overlay_opacity | append: '%' }};
              --overlay-blur: {{ block.settings.img_overlay_blur | append: 'px' }}
            ">
            <img
              src="{{ collection.image | image_url: width: 1200 }}"
              class="img-fluid"
              alt="{{ collection.image.alt }}"
              width="1200"
              height="{{ 1200 | divided_by: collection.image.aspect_ratio | round }}"
              loading="eager">
          </div>
        {% endif %}
        {% if block.settings.breadcrumb %}
          <div class="ks-breadcrumb-wrapper">
            {% render 'ks-breadcrumb' %}
          </div>
        {% endif %}
        <div class="page-width">
          <div class="ks-collection-banner-content">
            <h1 
              class="title {{ block.settings.title_font_size }} {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: 1;"
              {% endif %}>
              {{- collection.title | escape -}}
            </h1>
            {% if block.settings.description_show and collection.description != blank %}
              <div 
                class="description rte {{ block.settings.description_font_size }} {% if settings.animations_reveal_on_scroll %}scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: 2;"
                {% endif %}>
                {{ collection.description }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</header>

{% schema %}
{
  "name": "KS - Collection",
  "tag": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "mobile",
      "name": "Mobile",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Outter color scheme",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "Collection image"
        },
        {
          "type": "checkbox",
          "id": "img_show",
          "label": "Show collection image",
          "default": true
        },
        {
          "type": "color",
          "id": "img_overlay_color",
          "label": "Overlay color",
          "default": "#121212"
        },
        {
          "type": "range",
          "id": "img_overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "default": 30,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "img_overlay_blur",
          "label": "Overlay blur",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "text-center",
          "options": [
            { "value": "text-start", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-end", "label": "Right" }
          ]
        },
        {
          "type": "checkbox",
          "id": "breadcrumb",
          "label": "Show breadcrumb",
          "default": true
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "h1",
          "options": [
            { "value": "h2", "label": "Small" },
            { "value": "h1", "label": "Medium" },
            { "value": "h0", "label": "Large" },
            { "value": "hxl", "label": "Extra large" },
            { "value": "hxxl", "label": "Extra extra large" }
          ]
        },
        {
          "type": "checkbox",
          "id": "description_show",
          "label": "Show collection description",
          "default": true
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" }
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 100,
          "step": 4,
          "default": 36,
          "unit": "px",
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "default": 36,
          "unit": "px",
        }
      ]
    },
    {
      "type": "desktop",
      "name": "Desktop",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Outter color scheme",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "Collection image"
        },
        {
          "type": "checkbox",
          "id": "img_show",
          "label": "Show collection image",
          "default": true
        },
        {
          "type": "select",
          "id": "img_align",
          "label": "Image alignment",
          "default": "flex-row-reverse",
          "options": [
            { "value": "", "label": "Left" },
            { "value": "flex-row-reverse", "label": "Right" }
          ]
        },
        {
          "type": "color",
          "id": "img_overlay_color",
          "label": "Overlay color",
          "default": "#121212"
        },
        {
          "type": "range",
          "id": "img_overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "default": 30,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "img_overlay_blur",
          "label": "Overlay blur",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "text-center",
          "options": [
            { "value": "text-start", "label": "Left" },
            { "value": "text-center", "label": "Center" },
            { "value": "text-end", "label": "Right" }
          ]
        },
        {
          "type": "checkbox",
          "id": "breadcrumb",
          "label": "Show breadcrumb",
          "default": true
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "h1",
          "options": [
            { "value": "h2", "label": "Small" },
            { "value": "h1", "label": "Medium" },
            { "value": "h0", "label": "Large" },
            { "value": "hxl", "label": "Extra large" },
            { "value": "hxxl", "label": "Extra extra large" }
          ]
        },
        {
          "type": "checkbox",
          "id": "description_show",
          "label": "Show collection description",
          "default": true
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-md",
          "options": [
            { "value": "fs-xs", "label": "xs" },
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" },
          ]
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Top",
          "min": 0,
          "max": 100,
          "step": 4,
          "default": 36,
          "unit": "px",
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "default": 36,
          "unit": "px",
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["collection"],
  },
  "presets": [
    {
      "name": "KS - Collection banner",
      "blocks": [
        { "type": "mobile" },
        { "type": "desktop" }
      ]
    }
  ]
}
{% endschema %}