{% liquid 
  if section.index > 1
    assign media_loading = 'lazy'
  else
    assign media_loading = 'eager'
  endif
%}

{%- style -%}
  #ks-sticky-media-{{ section.id }} {
    margin-top: {{ section.settings.pt | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.pb | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #ks-sticky-media-{{ section.id }} {
      margin-top: {{ section.settings.pt }}px;
      margin-bottom: {{ section.settings.pb }}px;
    }
  }
{%- endstyle -%}


<ks-sticky-media 
  id="ks-sticky-media-{{ section.id }}"
  class="ks-sticky-media color-{{ section.settings.color_scheme }}">
  <div 
    class="ks-media-wrapper" 
    data-overlay-opacity="{{ section.settings.overlay_opacity }}"
    style="
      --overlay-color-rgb: {{ section.settings.overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')'  }};
      --overlay-opacity: {{ section.settings.overlay_opacity | append: '%' }};
      --overlay-blur: {{ section.settings.overlay_blur | append: 'px' }}">
    {% if section.settings.video_mobile != blank or section.settings.video_desktop != blank %}
      <div class="d-desktop-none">
        {{-
          section.settings.video_mobile | video_tag: 
            class: 'ks-sticky-media-media',
            image_size: '800x',  
            autoplay: false, 
            loop: true, 
            muted: true, 
            controls: false,
            loading: media_loading,
            preload: 'none',
            data-autoplay: true
        -}}
      </div>
      <div class="d-none d-desktop-block">
        {{-
          section.settings.video_desktop | video_tag: 
            class: 'ks-sticky-media-media',
            image_size: '1600x', 
            autoplay: false, 
            loop: true, 
            muted: true, 
            controls: false,
            loading: media_loading,
            preload: 'none',
            data-autoplay: true
        -}}
      </div>
    {% elsif section.settings.img_mobile != blank or section.settings.img_desktop != blank %}
      <div class="d-desktop-none">
        <img 
          class="ks-sticky-media-media"
          src="{{ section.settings.img_mobile | image_url: width: '800' }}" 
          alt=" {{ section.settings.img_mobile.alt }}"
          width="800"
          height="{{ 800 | divided_by: section.settings.img_mobile.aspect_ratio | round }}"
          loading="{{ media_loading }}">
      </div>
      <div class="d-none d-desktop-block">
        <img 
          class="ks-sticky-media-media"
          src="{{ section.settings.img_desktop | image_url: width: '1600' }}" 
          alt=" {{ section.settings.img_desktop.alt }}"
          width="1600"
          height="{{ 1600 | divided_by: section.settings.img_desktop.aspect_ratio | round }}"
          loading="{{ media_loading }}">
      </div>
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
  <div class="ks-sticky-media-caption-wrapper">
    {% for block in section.blocks %}
      <div 
        class="ks-sticky-media-caption-inner" 
        style="max-width: {{ section.settings.caption_max_width | append: 'px;' }}">
        <div class="ks-sticky-media-caption-inner-inner">
          {% render 'ks-section-content-block', block: block %}
        </div>
      </div>
    {% endfor %}
  </div>
</ks-sticky-media>

{% schema %}
{
  "name": "KS - Sticky media",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "img_mobile",
      "label": "Image - mobile"
    },
    {
      "type": "image_picker",
      "id": "img_desktop",
      "label": "Image - desktop"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video - mobile"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "Video - desktop" 
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 30,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "overlay_blur",
      "label": "Blur",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Caption"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "caption_max_width",
      "label": "Caption max-width (px)",
      "default": "900"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Optional Subtitle",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "subtitle_font_size",
          "label": "Subtitle font-size",
          "default": "fs-sm",
          "options": [
            { "value": "fs-xs", "label": "xs" },
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Sticky Media Slide",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font-size",
          "default": "h1",
          "options": [
            { "value": "h2", "label": "Small" },
            { "value": "h1", "label": "Medium" },
            { "value": "h0", "label": "Large" },
            { "value": "hxl", "label": "Extra large" },
            { "value": "hxxl", "label": "Extra extra large" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>An optional description for this slide</p>",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "description_font_size",
          "label": "Description font-size",
          "default": "fs-lg",
          "options": [
            { "value": "fs-xs", "label": "xs" },
            { "value": "fs-sm", "label": "sm" },
            { "value": "fs-md", "label": "md" },
            { "value": "fs-lg", "label": "lg" },
            { "value": "fs-xl", "label": "xl" }
          ]
        },
        {
          "type": "header",
          "content": "Primary button"
        },
        {
          "type": "text",
          "id": "btn_primary_text",
          "label": "Button text",
          "default": "Primary button",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "btn_primary_style",
          "label": "Button style",
          "default": "button--primary",
          "options": [
            { "value": "button--primary", "label": "Primary" },
            { "value": "button--secondary", "label": "Secondary" }
          ]
        },
        {
          "type": "url",
          "id": "btn_primary_url",
          "label": "Button URL"
        },
        {
          "type": "header",
          "content": "Secondary button"
        },
        {
          "type": "text",
          "id": "btn_secondary_text",
          "label": "Button text",
          "default": "Secondary button",
          "info": "Leave empty to disable"
        },
        {
          "type": "select",
          "id": "btn_secondary_style",
          "label": "Button style",
          "default": "button--secondary",
          "options": [
            { "value": "button--primary", "label": "Primary" },
            { "value": "button--secondary", "label": "Secondary" }
          ]
        },
        {
          "type": "url",
          "id": "btn_secondary_url",
          "label": "Button URL"
        },
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "KS - Sticky media",
      "blocks": [
        { "type": "slide" },
        { "type": "slide" },
        { "type": "slide" }
      ]
    }
  ]
}
{% endschema %}