
{%- style -%}
  #ks-separator-{{ section.id }} {
    padding-top: {{ section.settings.pt | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.pb | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #ks-separator-{{ section.id }} {
      padding-top: {{ section.settings.pt }}px;
      padding-bottom: {{ section.settings.pb }}px;
    }
  }
{%- endstyle -%}

<div 
  id="ks-separator-{{ section.id }}"
  class="ks-separator">
  <div class="{{ section.settings.container }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <hr style="opacity: {{ section.settings.opacity | append: '%' }}">
  </div>
</div>

{% schema %}
{
  "name": "KS - Separator",
  "tag": "div",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "options": [
        { "value": "page-width", "label": "Yes" },
        { "value": "", "label": "No" }
      ],
      "default": "page-width",
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "unit": "px",
    }
  ],
  "presets": [
    {
      "name": "KS - Separator"
    }
  ]
}
{% endschema %}